input{
    width: 500px;
background-color: rgb(223, 216, 216);
}
button{
    background-color:orange;
}
table{
    width: 100%;
    height: 300px;
    text-align: left;
}
table,th,td {
    border: 2px solid orange;
    border-collapse: collapse;
}
th{
    background-color: rgb(209, 202, 202);
    font-weight: bold ;
}